head{
    text-align: center;

}

body{
    text-align: center;
    font-size: 20px;

}

.style{
    background-color: rgb(128, 79, 79);
    height: auto;
    width: auto;
    border-radius: 10px;

}

#main{
  
    text-align:center;
    background-color: transparent;
    margin: 30px 10px 30px 10px;
    padding: 15px;
    font-family:'Courier New', Courier, monospace;

}